//清楚默认样式
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;//标记
}

body {
    background-color: #0984e3;
}

.container {
    background-color:#dfe6e9;
    width: 90vmin;//标记
    padding: 50px 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7,20,35,0.2);
}


//按钮布局
.options{
    display: flex;
    flex-wrap: wrap;//标记
    align-items: center;
    gap: 15px;//标记    
}

//元素选择器设置按钮样式
button{
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;//标记
    border-radius: 3px;
    border: none;
    background-color: #dfe6e9;
    outline: none;
    color: #2d3436;
}