$color:#636e72;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;//清除列表默认样式
}

body{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    --width:60px;
    width:var(--width);
    height: 300px;
    border:1px solid $color;
    header{
        width: var(--width);
        height: var(--width);
        border-bottom: solid 1px $color;
    }
}